h1 {
	text-transform: uppercase;
	text-shadow: -3px 2px 0px black;
}

body {
	background-color: #262931;
	font-family: "Trebuchet MS";
	font-size: 20px;
	color: white;
	text-align: left;
	margin: 50px;
	line-height: 2;
}

p {
	text-indent: 50px;
}

a:link {
	color: white;
}

a:visited {
	color: gray;
}