body {
	/* background: cornsilk; */
	background: #FCFCF1 ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

head {
	background: #FCFCF1 ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.grid-container {
	margin-top: 40px;
	margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
	grid-column-gap: 40px;
}

#grid-container-left{
	text-align: right;
}

#grid-container-right{
	text-align: left;
}

.thumb-container{
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	width: 0%;
}


li{
	margin: 10px 0;
}

.awardspoint{
	margin-top: 30px;
}


#rfq{
	width: 60%;
	text-align: center;
}

#avocado{
	width: 80%;
	text-align: center;
}
#lartpc{
	width: 60%;
	text-align: center;
}

#instanceseg{
	width: 60%;
	text-align: center;
}

.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	background-color: #ccc;	
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.collapsible:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.thumb{
	position: relative;
	background-color: #FCFCF1;
	transition: .5s ease;
}

.thumbimg{
	transition: .5s ease;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.thumbtext{
	transition: .5s ease;
	color: white;
	font-size: 20px;
}

.thumb:hover{
	background-color: rgb(126, 126, 126);
}
.thumb:after{
	background-color: #FCFCF1;
}

.thumb:hover .thumbimg{
	opacity: 0.3;
}

.thumb:after .thumbimg{
	opacity: 1;
}

.thumb:hover .thumbtext{
	opacity: 1;
}

.thumb:after .thumbtext{
	opacity: 0;
}

.thumbtext {
	position: absolute;
	bottom: 5px;
	left: 5px;
	opacity: 0;
}