body {
	/* background: cornsilk; */
	background: #FCFCF1 ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

head {
	background: #FCFCF1 ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.grid-container {
	margin-top: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    position: absolute;
    left: 20%
}

ul {
    list-style-position: outside;
 }